<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>List Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen carouselicon pull-left text-center">
                <a class="border-grey border-radius-three default-background-hover" ng-click="ContentItem.addListImage()">
                    <span ng-if="!ContentItem.item.data.listImage" class="add-icon hidden">+</span>
                    <img ng-if="ContentItem.item.data.listImage" ng-src="{{ContentItem.item.data.listImage | resizeImage : 82:110}}">
                </a>
            	<span class="add-icon">+</span>
                <span ng-if="ContentItem.item.data.listImage" class="icon btn-delete-icon btn-danger transition-third" ng-click="ContentItem.removeListImage()"></span>
			</div>
        </div>
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Title</span>
    </div>
    <div class="main col-md-9 pull-right">
        <input type="text" class="form-control" placeholder="Item Title" ng-model="ContentItem.item.data.itemTitle">
    </div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>DeepLink URL</span>
    </div>
    <div class="main col-md-9 pull-right">
        <span>{{ContentItem.item.data.deepLinkUrl}}</span>
    </div>
</div>
<hr class="none">
<div class="item clearfix">
    <div class="layout padded clearfix">
        <ul class="nav nav-tabs nav-justified">
            <li class="">
                <a class="active left-width-fifty-pc" ng-click="itemShow = 'Content'">Content</a>
            </li>
            <li class="">
                <a class="right-width-fifty-pc" ng-click="itemShow = 'Design'">Design</a>
            </li>
        </ul>
    </div>
</div>
<div ng-show="itemShow=='Content'">
    <div id="carousel"></div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Summary</span>
        </div>
        <div class="main col-md-9 pull-right">
            <textarea placeholder="Summary" class="form-control" ng-model="ContentItem.item.data.summary"></textarea>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Body Content</span>
        </div>
	</div>
	<hr class="none">
	<div class="item clearfix row">
        <div class="main col-md-12 pull-right">
            <textarea placeholder="WYSIWYG" class="form-control" ui-tinymce="ContentItem.bodyWYSIWYGOptions" ng-model="ContentItem.item.data.bodyContent"></textarea>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Address Title</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" placeholder="Address Title" ng-model="ContentItem.item.data.addressTitle">
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Address</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control"
                   placeholder="Enter Street Address or Lat/Long Coordinates"
                   google-location-search callback-fn="ContentItem.setLocation(data)"
                   ng-model="ContentItem.currentAddress"
                   ng-enter="ContentItem.setCoordinates()"
                   ng-change="ContentItem.clearData()">
            <br/>

            <div class="alert alert-danger alert-sm text-center"
                 ng-show="ContentItem.validCoordinatesFailure">Please enter valid
                coordinates
            </div>
        </div>
    </div>
    <div class="item clearfix row" ng-if="ContentItem.currentCoordinates">
        <div class="col-md-9 pull-right">
            <div google-map dragged-fn="ContentItem.setDraggedLocation(data)"
                 coordinates="ContentItem.currentCoordinates"
                 class="google-map-fix"
                 ></div>
        </div>
    </div>
    <hr class="none">
    <div id="actionItems"></div>
</div>
<div ng-show="itemShow=='Design'">
    <div id="background"></div>
</div>
<hr class="none">
<div class="item clearfix row">
    <div class="main col-md-9 pull-right">
        <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
            <a class="btn btn-primary pull-right stretch" ng-click="ContentItem.done()"
               ng-disabled="!ContentItem.isItemValid" href="javaScript:void(0);">Done</a>
        </div>
    </div>
</div>