<div class="item clearfix row">
    <div class="layout padded clearfix">
        <ul class="nav nav-tabs nav-justified">
            <li class="">
                <a class="active" ng-click="itemShow = 'Content'">Content</a>
            </li>
            <li class="">
                <a ng-click="itemShow = 'Design'">Design</a>
            </li>
        </ul>
    </div>
</div>
<div class="item clearfix row">
    <div ng-switch="itemShow">
        <div ng-switch-when="Content">
            <h4>Places Item Content</h4>

            <div class="item clearfix row margin-top-thirty">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Image Carousel</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <div class="clearfix">
                        <a class="btn btn-success pull-left" onclick="alert('Open Media Library');">Add Image</a>
                    </div>
                    <div class="carousel-items draggable-list-view margin-top-twenty border-radius-four border-grey">
                        <div class="d-item">
                            <span class="icon icon-menu pull-left"></span>

                            <div class="media-holder pull-left">
                                <img src="http://www.placehold.it/80x50">
                            </div>
                            <div class="copy pull-right">
                                <span class="title ellipsis">Image Title</span>

                                <div class="pull-right">
                                    <a class="text-primary text">Add Action</a>
                                    <span class="btn-icon btn-delete-icon btn-danger transition-third"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-item">
                            <span class="icon icon-menu pull-left"></span>

                            <div class="media-holder pull-left">
                                <img src="http://www.placehold.it/80x50">
                            </div>
                            <div class="copy pull-right">
                                <span class="title ellipsis">Image Title</span>

                                <div class="pull-right">
                                    <a class="text-primary text">Add Action</a>
                                    <span class="btn-icon btn-delete-icon btn-danger transition-third"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-item">
                            <span class="icon icon-menu pull-left"></span>

                            <div class="media-holder pull-left">
                                <img src="http://www.placehold.it/80x50">
                            </div>
                            <div class="copy pull-right">
                                <span class="title ellipsis">Image Title</span>

                                <div class="pull-right">
                                    <a class="text-primary text">Add Action</a>
                                    <span class="btn-icon btn-delete-icon btn-danger transition-third"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-item">
                            <span class="icon icon-menu pull-left"></span>

                            <div class="media-holder pull-left">
                                <img src="http://www.placehold.it/80x50">
                            </div>
                            <div class="copy pull-right">
                                <span class="title ellipsis">Image Title</span>

                                <div class="pull-right">
                                    <a class="text-primary text">Add Action</a>
							<span class="btn-icon btn-delete-icon btn-danger transition-third"><span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix row">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Summary</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <textarea placeholder="Summary" class="form-control"></textarea>
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix row">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Body Content</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <textarea placeholder="WYSIWYG" class="form-control"></textarea>
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix row">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Address Title</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <input type="text" class="form-control" placeholder="Address Title">
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix row">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Address</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <input type="text" class="form-control" placeholder="Enter Street Address or Lat/Long Coordinates">
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix row">
                <div class="main col-md-9 pull-right">
                    <textarea placeholder="Map Goes Here" class="form-control"></textarea>
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix row">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Links</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <div class="col-md-4 row">
                        <a class="btn btn-success stretch">Add Link</a>
                    </div>
                </div>
            </div>
            <hr class="none">
            <div class="item clearfix">
                <div class="draggable-list-view wide-list has-btn links-list">
                    <div class="d-item double-line square-icon clearfix">
                        <span class="icon icon-menu pull-left"></span>

                        <div class="media-holder pull-left">
                            <img src="http://www.placehold.it/50x50">
                        </div>
                        <div class="copy pull-right">
                            <div class="col-md-4 padding-zero pull-left">
                                <a class="text-primary"><span
                                        class="title ellipsis pull-left">Item Name Item Name Item Name</span></a>
                                <span class="title ellipsis pull-left">Item Summary Item Summary Item Summary</span>
                            </div>
                            <div class="col-md-7 padding-right-zero pull-left">
                                <span class="content ellipsis">http://www.thelinkgoeshereandifitslongitwillwraparound</span>
                            </div>
                            <div class="pull-right">
                        <span class="btn-icon btn-delete-icon btn-danger transition-third"
                              onclick="window.openDialog('remove.html', null, 'sm', null)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-item double-line square-icon clearfix">
                        <span class="icon icon-menu pull-left"></span>

                        <div class="media-holder pull-left">
                            <img src="http://www.placehold.it/50x50">
                        </div>
                        <div class="copy pull-right">
                            <div class="col-md-4 padding-zero pull-left">
                                <a class="text-primary"><span
                                        class="title ellipsis pull-left">Item Name Item Name Item Name</span></a>
                                <span class="title ellipsis pull-left">Item Summary Item Summary Item Summary</span>
                            </div>
                            <div class="col-md-7 padding-right-zero pull-left">
                                <span class="content ellipsis">http://www.thelinkgoeshereandifitslongitwillwraparound</span>
                            </div>
                            <div class="pull-right">
                        <span class="btn-icon btn-delete-icon btn-danger transition-third"
                              onclick="window.openDialog('remove.html', null, 'sm', null)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-item double-line square-icon clearfix">
                        <span class="icon icon-menu pull-left"></span>

                        <div class="media-holder pull-left">
                            <img src="http://www.placehold.it/50x50">
                        </div>
                        <div class="copy pull-right">
                            <div class="col-md-4 padding-zero pull-left">
                                <a class="text-primary"><span
                                        class="title ellipsis pull-left">Item Name Item Name Item Name</span></a>
                                <span class="title ellipsis pull-left">Item Summary Item Summary Item Summary</span>
                            </div>
                            <div class="col-md-7 padding-right-zero pull-left">
                                <span class="content ellipsis">http://www.thelinkgoeshereandifitslongitwillwraparound</span>
                            </div>
                            <div class="pull-right">
                        <span class="btn-icon btn-delete-icon btn-danger transition-third"
                              onclick="window.openDialog('remove.html', null, 'sm', null)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-item double-line square-icon clearfix">
                        <span class="icon icon-menu pull-left"></span>

                        <div class="media-holder pull-left">
                            <img src="http://www.placehold.it/50x50">
                        </div>
                        <div class="copy pull-right">
                            <div class="col-md-4 padding-zero pull-left">
                                <a class="text-primary"><span
                                        class="title ellipsis pull-left">Item Name Item Name Item Name</span></a>
                                <span class="title ellipsis pull-left">Item Summary Item Summary Item Summary</span>
                            </div>
                            <div class="col-md-7 padding-right-zero pull-left">
                                <span class="content ellipsis">http://www.thelinkgoeshereandifitslongitwillwraparound</span>
                            </div>
                            <div class="pull-right">
                        <span class="btn-icon btn-delete-icon btn-danger transition-third"
                              onclick="window.openDialog('remove.html', null, 'sm', null)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="Design">
            <h4>Places Item Design</h4>

            <div class="item clearfix row margin-top-thirty">
                <div class="labels col-md-3 padding-right-zero pull-left">
                    <span>Background Image</span>
                </div>
                <div class="main col-md-9 pull-right">
                    <div class="screens clearfix">
                        <div class="screen text-center layouticon pull-left">
                            <a class="border-grey border-radius-three default-background-hover">
                                <span class="add-icon">+</span>
                            </a>
                            <span class="icon btn-icon btn-delete-icon btn-danger"></span>
                            <label class="secondary">750x1334</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>