.customBackground {
    background-position: center center !important;
    background-size: initial;
    background-repeat: no-repeat !important;
    background-origin: initial;
    background-clip: initial;
    background-attachment: fixed;
    background-color: #010101;
}

.map-layout2 .places-plugin .location-map .map-holder {
    padding: 0 !important;
    top: -100px;
}

.map-layout1 .places-plugin .location-map .map-holder {
    padding: 0 !important;
    top: -40px;
}

.map-layout2 .places-plugin .location-map .map-holder{
    z-index: 1 !important;
    height: 68% !important;
    top: 140px;
}
.map-layout1 .places-plugin .location-map .map-holder {
    z-index: 1 !important;
    height: 75% !important;
    top: 60px;
}