.customBackground {
    background-position: center center !important;
    background-size: initial;
    background-repeat: no-repeat !important;
    background-origin: initial;
    background-clip: initial;
    background-attachment: fixed;
    background-color: #010101;
}

.map-layout1 .places-plugin .location-map .map-holder ,
.map-layout2 .places-plugin .location-map .map-holder {
    padding: 0 !important;
    z-index: 1 !important;
    height: 89% ;
    top: 0;
}

.fix-map-layout2-top {
    height: 65% !important;
    top: 193px !important;
}

.fix-map-layout1-top {
    height: 79% !important;
    top: 60px !important;
}

#scroll-infinite{
    overflow-y: auto;
    max-height: 570px;
}


.location-share-msg{
    font-size: smaller;text-align: center;
}