<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Section List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <img ng-src="../../resources/{{DesignHome.placeInfo.data.design.secListLayout}}.png">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.secListLayouts"
                   class="layouticon border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'secList')">
                    <img ng-src="../../resources/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Map Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <img ng-src="../../resources/{{DesignHome.placeInfo.data.design.mapLayout}}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.mapLayouts"
                   class="layouticon border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'map')">
                    <img ng-src="../../resources/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <img ng-src="../../resources/{{DesignHome.placeInfo.data.design.itemListLayout}}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.itemListLayouts"
                   class="layouticon border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'itemList')">
                    <img ng-src="../../resources/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Details Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <img ng-src="../../resources/{{DesignHome.placeInfo.data.design.itemDetailsLayout}}.png"/>
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.itemLayouts"
                   class="layouticon border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeLayout(layout.name,'itemDetails')">
                    <img ng-src="../../resources/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div id="background"></div>