<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Section List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/31x33">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.secListLayouts" class="layouticon border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Map Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/31x33">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.mapLayouts" class="layouticon border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/31x33">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.itemListLayouts" class="layouticon border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Details Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/31x33">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="layout in DesignHome.layouts.itemLayouts" class="layouticon border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img ng-src="assets/images/{{layout.name}}.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Placeholder Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen text-center carouselicon pull-left">
                <a class="border-radius-three default-background-hover">
                    <span class="add-icon">+</span>
                </a>
                <span class="icon btn-icon btn-delete-icon btn-danger"></span>

            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Section List Background Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen text-center layouticon pull-left">
                <a class="border-radius-three default-background-hover">
                    <span class="add-icon">+</span>
                </a>
                <span class="icon btn-icon btn-delete-icon btn-danger"></span>
                <label class="secondary">750x1334</label>
            </div>
        </div>
    </div>
</div>