<div ng-class="WidgetSections.showMenu ? 'active' : ''" class="bottom fixed-bottom clearfix transition-third">
    <div>
        <div class="extra-links">
            <a ng-click="WidgetSections.refreshLocation()" class="my-location titleBarTextAndIconsBackground" style="opacity: 1 !important;">
                <span class="icon icon-aim titleBarTextAndIconsTheme"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-6 pull-left text-center transition-third titleBarTextAndIconsBackground">
        <a ng-click="WidgetSections.currentView = (WidgetSections.currentView == 'map') ? 'list' : 'map';"
           class="titleBarTextAndIconsTheme">
            {{WidgetSections.currentView == 'map' ? 'List' : 'Map'}}
        </a>
    </div>
    <div class="col-xs-6 pull-left text-center transition-third titleBarTextAndIconsBackground">
        <a ng-click="WidgetSections.showMenu = !WidgetSections.showMenu" class="titleBarTextAndIconsTheme">Filter</a>
    </div>
    <div class="col-xs-12 pull-left hidden-content">
        <div class="tabs clearfix">
            <div ng-class="WidgetSections.menuTab == 'Category' ? 'active' : ''"
                 ng-click="WidgetSections.menuTab = 'Category'"
                 class="tab tab-category col-xs-6 padding-zero text-center border-bottom-grey">
                <a>Category</a>
            </div>
            <div ng-class="WidgetSections.menuTab == 'Sorting' ? 'active' : ''"
                 ng-click="WidgetSections.menuTab = 'Sorting'"
                 class="tab tab-sorting col-xs-6 border-left-grey padding-zero border-bottom-grey text-center">
                <a>Sorting</a>
            </div>
        </div>
        <div class="tab-content clearfix">
            <div ng-class="WidgetSections.menuTab == 'Category' ? 'active' : ''" class="category-tab tab">
                <a id="allItemsOption"
                   ng-show="WidgetSections.placesInfo.data.content.showAllItems"
                   ng-class="(WidgetSections.selectedSections.length == 0 && WidgetSections.showSections == false) ? 'titleBarBackgroundTheme whiteTheme' : ''"
                   ng-click="WidgetSections.resetSectionFilter()" class="list-item section-filter">All Locations</a>
                <a ng-click="WidgetSections.toggleSectionSelection($index)"
                   ng-repeat="item in WidgetSections.sections | unique : 'id'"
                   class="list-item section-filter"
                   ng-class="WidgetSections.selectedSections.indexOf(item.id) > -1 ? 'titleBarBackgroundTheme whiteTheme':''"
                   section-id="{{item.id}}">{{item.data.secTitle}}</a>
            </div>
            <div ng-class="WidgetSections.menuTab == 'Sorting' ? 'active' : ''" class="sorting-tab tab padded">
                <div class="distance">
                    <p class="text-primary">Distance
                        <!--<a ng-click="WidgetSections.increaseMaxDis()"
                           class="btn-plus-icon btn-primary" style="width: 15px">
                        </a>-->
                    </p>
                    <!--<p class="text-primary" ng-show="WidgetSections.placesInfo.data.settings.showDistanceIn == 'miles'">{{distanceSlider.min}} to {{distanceSlider.max}} miles</p>
                    <p class="text-primary" ng-hide="WidgetSections.placesInfo.data.settings.showDistanceIn == 'miles'">{{distanceSlider.min}} to {{distanceSlider.max}} km</p>-->
                    <rzslider rz-slider-tpl-url="templates/layouts/slider-template.html"
                              rz-slider-floor="distanceSlider.floor"
                              rz-slider-ceil="distanceSlider.ceil"
                              rz-slider-model="distanceSlider.min"
                              rz-slider-high="distanceSlider.max"
                              rz-slider-step="5"
                              data-ciel-label="{{WidgetSections.placesInfo.data.settings.showDistanceIn}}"
                              rz-slider-on-change="WidgetSections.onSliderChange()"
                              rz-slider-hide-limit-labels="true"></rzslider>
                </div>
                <div class="sort-items margin-top-twenty">
                    <p class="text-primary">Sort Items</p>

                    <div class="toggle-btns border-radius-four overflow-hidden">
                        <div ng-click="WidgetSections.sortOnClosest = false"
                             class="col-xs-6 padding-zero text-center"
                             ng-class="WidgetSections.sortOnClosest ? '' : 'titleBarBackgroundTheme'">
                            <a ng-class="WidgetSections.sortOnClosest ? '' : 'whiteTheme'">Default</a>
                        </div>
                        <div ng-hide="WidgetSections.locationData.currentCoordinates == null"
                             ng-class="!WidgetSections.sortOnClosest ? '' : 'titleBarBackgroundTheme'"
                             ng-class="WidgetSections.sortOnClosest ? '' : 'active'"
                             ng-click="WidgetSections.sortOnClosest = true" class="col-xs-6 padding-zero text-center">
                            <a ng-class="WidgetSections.sortOnClosest ? 'whiteTheme' : ''">Closest to Me</a>
                        </div>
                        <div ng-show="WidgetSections.locationData.currentCoordinates == null"
                             class="col-xs-6 padding-zero text-center">
                            <a class="opacity-forty" ng-class="WidgetSections.sortOnClosest ? 'active' : ''">Closest to
                                Me</a>
                        </div>
                    </div>
                    <p class="location-share-msg margin-bottom-five margin-top-five" ng-show="WidgetSections.locationData.currentCoordinates == null">
                        Enable Location sharing to activate Closest to Me.
					</p>
                </div>
            </div>
        </div>
    </div>
</div>