        <div style="padding-bottom: 50px; height: calc(100% - 50px);" class="item-list2 backgroundColorTheme" infinite-scroll-distance="1"
         data-infinite-container=".infinite-scroll-parent"
         infinite-scroll="WidgetSections.loadMoreItems()"
         infinit-scroll-disabled="WidgetSections.noMore">
        <div class="plugin-banner has-info-bar clearfix" ng-repeat="item in WidgetSections.locationData.items | orderBy: WidgetSections.itemsOrder | filter:WidgetSections.sortFilter">
            <a ng-click="WidgetSections.showItemDetails(WidgetSections.selectedSection,item.id)">
                <div class="plugin-slide text-center">
                    <img ng-if="item.data.listImage" load-image="16x9" data-final-src="{{item.data.listImage | cropImage:deviceWidth:192}}">
                    <!--<img ng-if="!item.data.listImage" src="../../../styles/media/holder-16x9.png">-->
                </div>
                <div class="plugin-copy border-bottom-grey clearfix">
                    <div class="col-xs-8 text-left pull-left padding-five">
                        <p class="margin-bottom-zero ellipsis"><span class="headerTextTheme">{{item.data.itemTitle}}</span></p>

                        <p class="margin-bottom-zero ellipsis"><span class="bodyTextTheme">{{item.data.summary}}</span></p>
                    </div>
                    <div class="col-xs-4 text-right pull-right padding-left-zero padding-top-five">
                        <span class="titleBarTextAndIconsTheme icon icon-map-marker icon-sm"></span>
                        <span class="miles titleBarTextAndIconsTheme">{{item.data.distanceText}}</span>
                    </div>
                </div>
            </a>
        </div>

    </div>