<div class="holder padding-zero">
    <div class="places-plugin">
        <div class="media-center-banner plugin-banner clearfix border-bottom-grey">
            <div
                 class="plugin-slider has-info-bar has-info-bar-double text-center">
                <div class="plugin-slide show-map" style="height: 180px;">
                    <span details-google-map="" location-data="WidgetItem.itemData"
                          show-window="true" style="height: 193px;width: 342px; position:relative;">Google Maps Here</span>
                </div>
            </div>
            <div class="info-bar bg-primary" style="top: 143px;height: 50px;">
                <div class="col-xs-8 text-left pull-left">
                    <p class="margin-bottom-zero ellipsis">{{WidgetItem.item.data.itemTitle}}</p>

                    <p class="margin-bottom-zero ellipsis">{{WidgetItem.item.data.summary}}</p>
                </div>
                <div class="col-xs-4 text-right pull-right padding-left-zero" ng-if="WidgetItem.distance">
                    <span class="icon icon-map-marker icon-sm" style="color:#fff;"></span>
                    <span class="miles">{{WidgetItem.distance}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-top-fifteen padding-bottom-ten text-center">
        <div class="plugin-thumbnail-slider clearfix">
            <p ng-if="WidgetItem.item.data.address.aName">{{WidgetItem.item.data.address.aName}}</p>
            <div ng-if="WidgetItem.item.data.images.length" class="thumbnail-slider text-center"
                 style="height: 100px; width: 100%;white-space: nowrap; overflow-x: auto;">
                <div class="thumbnail-slide" style="display: inline-block"
                     ng-repeat="image in WidgetItem.item.data.images">
                    <img class="border-radius-four padding-left-ten" ng-src="{{image.iconUrl | cropImage : 160 : 90}}">
                </div>
            </div>
        </div>
        <div class="margin-top-ten">
            <a class="text-primary">Contact info</a>
        </div>
    </div>
    <div class="padding-left-fifteen padding-right-fifteen">
        <hr class="small margin-zero">
    </div>
    <div class="padded">
        <p ng-bind-html="WidgetItem.item.data.bodyContent | safeHtml">{{WidgetItem.item.data.bodyContent |
            safeHtml}}</p>
    </div>
</div>