<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero">
	<div class="places-plugin item-list2">
		<div class="plugin-banner has-info-bar clearfix">
			<div class="plugin-slide text-center">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
			<div class="plugin-copy clearfix">
				<div class="col-xs-8 text-left pull-left">
					<p class="margin-bottom-zero ellipsis">Item Title Goes Here</p>
					<p class="margin-bottom-zero ellipsis">This is an item summary</p>
				</div>
				<div class="col-xs-4 text-right pull-right padding-left-zero">
					<span class="icon icon-map-marker icon-sm"></span>
					<span class="miles">324 mi</span>
				</div>
			</div>
		</div>
		<div class="plugin-banner has-info-bar location-map clearfix">
			<div class="plugin-slide map-holder">
				<p style="position:relative; top:100px; color:#fff; text-align:center;">Map goes in here</p>
			</div>
			<div class="info-bar bg-primary text-center">
				<p class="margin-bottom-zero ellipsis col-xs-12">1234 Grand Ave, San Diego, CA 92127</p>
			</div>
		</div>
		<div class="padded text-center">
			<a class="text-primary">Contact info</a>
			<hr class="small">
			<p class="text-left">WYSIWYG Editor. WYSIWYG Editor. WYSIWYG Editor. WYSIWYG Editor. WYSIWYG Editor. </p>
		</div>
	</div>
</div>
</html>