<div class="holder padding-zero text-overlay">
    <div class="places-plugin item-list2">
        <div class="plugin-banner has-info-bar clearfix">
            <div class="plugin-slide text-center">
                <div id="carouselItemDetails" build-fire-carousel=""></div>
            </div>
            <div class="plugin-copy clearfix">
                <div class="col-xs-8 text-left pull-left">
                    <p class="margin-bottom-zero ellipsis">{{WidgetItem.item.data.itemTitle}}</p>

                    <p class="margin-bottom-zero ellipsis">{{WidgetItem.item.data.summary}}</p>
                </div>
                <div class="col-xs-4 text-right pull-right padding-left-zero" ng-if="WidgetItem.distance">
                    <span class="icon icon-map-marker icon-sm"></span>
                    <span class="miles">{{WidgetItem.distance}}</span>
                </div>
            </div>
        </div>
        <div class="location-group clearfix" ng-if="WidgetItem.item.data.address.aName">
            <div class="col-xs-8 text-left pull-left padding-right-zero margin-top-ten padding-bottom-five">
                <p class="text-primary ellipsis margin-zero"><a ng-click="WidgetItem.openMap()" href="javaScript:void(0);" class="margin-bottom-zero text-primary">{{WidgetItem.item.data.addressTitle}}</a>
                </p>

                <p class="text-primary ellipsis margin-zero"><a ng-click="WidgetItem.openMap()" href="javaScript:void(0);" class="margin-bottom-zero text-primary ellipsis">{{WidgetItem.item.data.address.aName}}</a>
                </p>
            </div>
            <div ng-if="WidgetItem.itemData.currentCoordinates" show-window="false" details-google-map
                 location-data="WidgetItem.itemData"
                 class="col-xs-4 text-right pull-right padding-right-zero details-google-map-fix">
            </div>
        </div>
        <div class="padded padding-top-ten padding-bottom-ten" ng-if="WidgetItem.showBodyContent()">
            <p id="description" class="margin-zero" ng-bind-html="WidgetItem.item.data.bodyContent | safeHtml"></p>

        </div>
        <div class="padded padding-top-zero">
            <div class="dynamic-links" ng-repeat="link in WidgetItem.item.data.links">
                <p ng-click="WidgetItem.executeAction(link)">
                    <span ng-if="!link.iconUrl" class="icon icon-cog"></span>
                    <span ng-if="link.iconUrl" class="icon"><img ng-src="{{link.iconUrl | cropImage:17:17}}"/></span>
                    {{link.title}}
                </p>
            </div>
        </div>
    </div>
</div>