<div class="holder padding-zero has-bottom has-bottom-viewing" id="scroll-infinite">
    <div class="places-plugin item-list2" infinite-scroll-distance="0"
         infinite-scroll="WidgetSection.getMore()"
         infinite-scroll-container='"#scroll-infinite"'
         infinit-scroll-disabled="WidgetSection.noMore">
        <div class="plugin-banner has-info-bar clearfix" ng-repeat="item in WidgetSection.items">
            <div class="plugin-slide text-center">
                <img ng-if="item.data.listImage" ng-src="{{item.data.listImage}}">
            </div>
            <div class="plugin-copy border-bottom-grey clearfix">
                <div class="col-xs-8 text-left pull-left">
                    <p class="margin-bottom-zero ellipsis"><a ng-href="#/item/{{item.id}}">{{item.data.itemTitle}}</a></p>

                    <p class="margin-bottom-zero ellipsis">{{item.data.summary}}</p>
                </div>
                <div class="col-xs-4 text-right pull-right padding-left-zero">
                    <span class="icon icon-map-marker icon-sm"></span>
                    <span class="miles"></span>
                </div>
            </div>
        </div>
        <div class="bottom fixed-bottom clearfix transition-third" style="background:#09a3ee;">
            <div class="extra-links">
                <a class="my-location" style="background:#09a3ee;">
                    <span class="icon icon-aim"></span>
                </a>
                <a class="view-type" style="background:#09a3ee;">
                    <span class="icon icon-menu"></span>
                </a>
            </div>
            <div class="col-xs-12 pull-left text-center viewing-label" style="background:rgba(255,255,255,0.8);">
                <p class="margin-zero ellipsis">Viewing: Uptown, Greenwich Village, Dogtown, and Downtown</p>
            </div>
            <div class="col-xs-12 pull-left text-center transition-third">
                <a style="color:#fff;">Filter</a>
            </div>
            <div class="col-xs-12 pull-left hidden-content">
                <div class="tabs clearfix">
                    <div class="tab tab-category col-xs-6 padding-zero text-center border-bottom-grey active">
                        <a>Category</a>
                    </div>
                    <div class="tab tab-sorting col-xs-6 border-left-grey padding-zero border-bottom-grey text-center">
                        <a>Sorting</a>
                    </div>
                </div>
                <div class="tab-content clearfix">
                    <div class="category-tab tab active">
                        <a class="list-item">All Locations</a>
                        <a class="list-item active">Uptown</a>
                        <a class="list-item">Downtown</a>
                        <a class="list-item">Time Square</a>
                        <a class="list-item active">Greenwich Village</a>
                        <a class="list-item">Sight Seeing</a>
                        <a class="list-item">All Locations</a>
                        <a class="list-item active">Uptown</a>
                        <a class="list-item">Downtown</a>
                        <a class="list-item">Time Square</a>
                        <a class="list-item active">Greenwich Village</a>
                        <a class="list-item">Sight Seeing</a>
                    </div>
                    <div class="sorting-tab tab padded">
                        <div class="distance">
                            <p class="text-primary">Distance</p>

                            <p>50 to 200 miles</p>
                            <span>range slider placeholder</span>
                        </div>
                        <div class="sort-items margin-top-twenty">
                            <p class="text-primary">Sort Items</p>

                            <div class="toggle-btns border-radius-four overflow-hidden">
                                <div class="col-xs-6 padding-zero text-center primaryBackgroundTheme"
                                     style="background:#09a3ee;">
                                    <a class="active">Default</a>
                                </div>
                                <div class="col-xs-6 padding-zero text-center">
                                    <a>Closest to Me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>