<div class="holder padding-zero">
    <div class="places-plugin item-list2">
        <div class="plugin-banner has-info-bar clearfix">
            <div class="plugin-slide text-center">
                <img src="http://www.placehold.it/1280x720.jpg">
            </div>
            <div class="plugin-copy clearfix">
                <div class="col-xs-8 text-left pull-left">
                    <p class="margin-bottom-zero ellipsis">Item Title Goes Here</p>

                    <p class="margin-bottom-zero ellipsis">This is an item summary</p>
                </div>
                <div class="col-xs-4 text-right pull-right padding-left-zero">
                    <span class="icon icon-map-marker icon-sm"></span>
                    <span class="miles">324 mi</span>
                </div>
            </div>
        </div>
        <div class="border-top-grey border-bottom-grey clearfix">
            <div class="col-xs-8 text-left pull-left padding-right-zero margin-top-ten padding-bottom-five">
                <p class="text-primary ellipsis margin-zero"><a class="margin-bottom-zero text-primary">1234 Grand
                    Ave</a></p>

                <p class="text-primary ellipsis margin-zero"><a class="margin-bottom-zero text-primary ellipsis">San
                    Diego, CA 92127</a></p>
            </div>
            <div class="col-xs-4 text-right pull-right padding-right-zero">
                <img src="http://www.placehold.it/100x60">
            </div>
        </div>
        <div class="padded padding-top-ten padding-bottom-ten">
            <p class="margin-zero">This is WYSIWYG Editor.</p>
        </div>
        <div class="padded padding-top-zero">
            <div class="dynamic-links">
                <a>
                    <span class="icon icon-cog"></span>
                    <span class="copy">Custom link title and icon</span>
                </a>
            </div>
        </div>
    </div>
</div>