<div class="holder padding-zero">
	<div class="places-plugin">
		<div class="media-center-banner plugin-banner clearfix border-bottom-grey">
			<div class="plugin-slider has-info-bar has-info-bar-double text-center">
				<div class="plugin-slide show-map">
					<span style="color:#fff; position:relative; top:120px;">Google Maps Here</span>
				</div>
			</div>
			<div class="info-bar bg-primary">
				<div class="col-xs-8 text-left pull-left">
					<p class="margin-bottom-zero ellipsis">Item Title Goes Here Item Title Goes Here</p>
					<p class="margin-bottom-zero ellipsis">This is an item summary that goes here This is an item summary that goes here</p>
				</div>
				<div class="col-xs-4 text-right pull-right padding-left-zero">
					<span class="icon icon-map-marker icon-sm" style="color:#fff;"></span>
					<span class="miles">324 mi</span>
				</div>
			</div>
		</div>
	</div>
	<div class="padding-top-fifteen padding-bottom-ten text-center">
		<div class="plugin-thumbnail-slider clearfix">
			<div class="thumbnail-slider text-center">
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
				<div class="thumbnail-slide">
					<img class="border-radius-four" src="http://www.placehold.it/140x100">
				</div>
			</div>
		</div>
		<div class="margin-top-ten">
			<a class="text-primary">Contact info</a>
		</div>
	</div>
	<div class="padding-left-fifteen padding-right-fifteen">
		<hr class="small margin-zero">
	</div>
	<div class="padded">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>