<div class="item-list1"
     infinite-scroll-distance="1"
     data-infinite-container=".infinite-scroll-parent"
     infinite-scroll="WidgetSections.loadMoreItems()"
     infinite-scroll-disabled="WidgetSections.noMore">
    <div class="plugin-banner has-info-bar clearfix"
         ng-repeat="item in WidgetSections.locationData.items | orderBy: WidgetSections.itemsOrder | filter:WidgetSections.sortFilter">
        <a ng-click="WidgetSections.showItemDetails(WidgetSections.selectedSection,item.id)">
            <!--ng-href="#/item/{{WidgetSections.getSectionId(item.data.sections)}}/{{item.id}}"-->
            <div class="plugin-slide text-center">
                <img ng-if="item.data.listImage" load-image="16x9" data-final-src="{{item.data.listImage | cropImage:WidgetSections.deviceWidth:192}}">
                <img ng-if="!item.data.listImage" src="assets/images/16x9.png">
            </div>
            <div class="info-bar blackBackgroundTheme">
                <div class="col-xs-8 text-left pull-left">
                    <p class="margin-bottom-zero ellipsis"><span
                            class="text-primary whiteTheme">{{item.data.itemTitle}}</span>
                    </p>

                    <p class="margin-bottom-zero ellipsis whiteTheme">{{item.data.summary}}</p>
                </div>
                <div class="col-xs-4 text-right pull-right padding-left-zero">
                    <span class="icon icon-map-marker icon-sm whiteTheme"></span>
                    <span class="miles whiteTheme">{{item.data.distanceText}}</span>
                </div>
            </div>
        </a>
    </div>
</div>
