<div class="holder padding-zero has-bottom has-bottom-viewing map-layout2">
    <div class="places-plugin">
        <div class="plugin-banner clearfix">
            <div ng-class="{'fix-map-layout2-info-bar':WidgetSections.selectedItem && WidgetSections.selectedItem.data.images.length == 0}"
                 class="plugin-slider text-center has-info-bar-double">
                <div ng-show="WidgetSections.selectedItem.data.images.length" class="plugin-slide">
                    <div id="mapCarousel" map-build-fire-carousel=""></div>
                </div>
            </div>
            <div ng-if="WidgetSections.selectedItem" class="info-bar bg-primary padding-top-five padding-bottom-five">
                <div class="col-xs-9 pull-left">
                    <a ng-href="#/item/{{WidgetSections.selectedItem.data.sections[0]}}/{{WidgetSections.selectedItem.id}}" class="margin-bottom-zero color-white">{{WidgetSections.selectedItem.data.itemTitle}}</a>
                    <p class="margin-bottom-zero ellipsis">{{WidgetSections.selectedItem.data.summary}}</p>
                </div>
                <div class="col-xs-3 padding-left-zero pull-right text-right margin-top-five">
                    <span ng-click="WidgetSections.openInMap()" class="icon icon-location location-circle primaryTheme background-white color-blue"
                          ></span><br>
                    <span class="font-size-small">{{WidgetSections.selectedItemDistance}}</span>
                </div>
            </div>
        </div>
        <div class="location-map">
            <div class="map-holder"
                 ng-class="{'fix-map-layout2-top':WidgetSections.selectedItem && WidgetSections.selectedItem.data.images.length}">
                <div google-map class="google-map-fix" location-data="WidgetSections.locationData"
                     marker-callback="WidgetSections.selectedMarker"></div>
            </div>
        </div>
        <div ng-include="'templates/layouts/bottom-menu.html'"></div>
    </div>
</div>
