<div class="holder padding-zero has-bottom has-bottom-viewing map-layout1">
    <div class="places-plugin">
        <div class="item-info clearfix background-white" ng-if="WidgetSections.selectedItem">
            <div class="col-xs-9 pull-left padding-left-zero">
                <div class="pull-left">
                    <img default-image class="map-1-image-fix" ng-src="{{WidgetSections.selectedItem.data.listImage}}">
                </div>
                <div class="copy stretch pull-left margin-left-ten">
                    <p class="margin-bottom-zero ellipsis margin-top-ten text-primary"><a ng-href="#/item/{{WidgetSections.selectedItem.data.sections[0]}}/{{WidgetSections.selectedItem.id}}" class="ellipsis text-primary">{{WidgetSections.selectedItem.data.itemTitle}}</a></p>

                    <p class="margin-bottom-zero ellipsis">{{WidgetSections.selectedItem.data.summary}}</p>
                </div>
            </div>
            <div class="col-xs-3 padding-left-zero pull-right text-right margin-top-fifteen">
                <span ng-click="WidgetSections.openInMap()" class="icon icon-location location-circle primaryBackgroundTheme titleBarTextAndIcons"></span><br>
                <span class="font-size-small">{{WidgetSections.selectedItemDistance}}</span>
            </div>
        </div>
        <div class="location-map">
            <div class="map-holder" ng-class="{'fix-map-layout1-top':WidgetSections.selectedItem}">
                <div google-map class="google-map-fix" location-data="WidgetSections.locationData"
                     marker-callback="WidgetSections.selectedMarker"></div>
            </div>
        </div>
        <div ng-include="'templates/layouts/bottom-menu.html'"></div>
    </div>
</div>