<div class="holder padding-zero has-bottom has-bottom-viewing map-layout1 height-hundred-pc">
    <div class="places-plugin">
        <div class="item-info clearfix background-white" ng-if="WidgetSections.selectedItem">
            <div class="col-xs-9 pull-left padding-left-zero" ng-click="WidgetSections.showItemDetails((WidgetSections.selectedItem.data.sections[0]||'allitems'),WidgetSections.selectedItem.id)">
                <div ng-if="WidgetSections.selectedItem.data.listImage" class="pull-left">
                    <img load-image="4x3" data-final-src="{{WidgetSections.selectedItem.data.listImage | cropImage : 80:60}}" style="height: 60px;width: 80px">
                    <!--<img ng-if="!WidgetSections.selectedItem.data.listImage" src="../../../styles/media/holder-4x3.png" style="height: 60px;width: 80px">-->
                </div>
                <div class="copy stretch pull-left" style="height: 60px;padding-top: 10px;padding-bottom: 10px;" ng-style="WidgetSections.selectedItem.data.listImage ? {'padding-left': '85px'} : {'padding-left': '10px'}" ng-style="{'top':(!WidgetSections.selectedItem.data.summary? '9px':'')}">
                    <p class="margin-bottom-zero ellipsis text-primary text-left" style="line-height: 18px;">
                        <a class="ellipsis titleBarTheme">{{WidgetSections.selectedItem.data.itemTitle}}</a>
                        <span style="display: block" class="margin-bottom-zero titleBarTheme ellipsis">{{WidgetSections.selectedItem.data.summary}}</span>
                    </p>

                    <!--<p class="margin-bottom-zero titleBarTheme ellipsis">{{WidgetSections.selectedItem.data.summary}}</p>-->
                </div>
            </div>
            <div class="col-xs-3 padding-left-zero pull-right text-right margin-top-five" style="height: 60px; PADDING-TOP: 10PX; PADDING-BOTTOM: 10PX;MARGIN-TOP: 0!IMPORTANT; MARGIN: 0!IMPORTANT;PADDING-RIGHT: 10PX;">
                <span ng-click="WidgetSections.openInMap()" class="icon icon-location location-circle titleBarBackgroundTheme whiteTheme"></span><br>
                <span class="font-size-small titleBarTheme" style="DISPLAY: BLOCK; POSITION: ABSOLUTE;TOP: 30PX;RIGHT: 8PX;">{{WidgetSections.selectedItemDistance}}</span>
            </div>
        </div>
        <div class="location-map">
            <div class="map-holder" ng-class="{'fix-map-layout1-top':WidgetSections.selectedItem}">
                <div google-map class="google-map-fix" location-data="WidgetSections.locationData"
                     marker-callback="WidgetSections.selectedMarker" filter="distanceSlider"
                     filterUnapplied="WidgetSections.filterUnapplied"></div>
            </div>
        </div>
    </div>
</div>