<div class="holder padding-zero has-bottom  text-overlay">
    <div class="places-plugin layout1">
        <div ng-if="WidgetSections.removeShowSectionsArea != true" ng-show="WidgetSections.showSections" class="plugin-banner clearfix">
            <div class="plugin-slide text-center">
                <div id="carousel" build-fire-carousel=""></div>
            </div>
        </div>
        <div  ng-show="WidgetSections.showSections" class="text-left padded padding-bottom-zero clearfix"
             ng-if="WidgetSections.showDescription()">
            <p class="margin-bottom-zero" id="description"
               ng-bind-html="WidgetSections.placesInfo.data.content.descriptionHTML | safeHtml"></p>
        </div>
        <div class="padding-top-zero">
            <div ng-show="WidgetSections.showSections">
                <div infinite-scroll="WidgetSections.loadMoreSections()"
                     infinite-scroll-distance="1"
                     data-infinite-container=".infinite-scroll-parent"
                     infinite-scroll-disabled="WidgetSections.noMoreSections">
                    <div ng-if="WidgetSections.placesInfo.data.content.showAllItems"
                         class="plugin-banner has-info-bar clearfix "
                         style="min-height: 10px">
                        <a ng-click="WidgetSections.showItems('allitems')">
                            <div class="plugin-slide text-center">
                                <img load-image="16x9"
                                     data-final-src="{{WidgetSections.placesInfo.data.content.allItemImage | cropImage:WidgetSections.deviceWidth:192}}" ng-if="WidgetSections.placesInfo.data.content.allItemImage">
                                <img ng-if="!WidgetSections.placesInfo.data.content.allItemImage"
                                     src="assets/.images/16x9.png">
                            </div>
                            <div class="info-bar blackBackgroundTheme">
                                <div class="col-xs-12 text-left pull-left">
                                    <p class="margin-bottom-zero ellipsis whiteTheme">
                                        <span class="whiteTheme">All Items</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div ng-repeat="item in WidgetSections.sections | unique: 'id'"
                         class="plugin-banner has-info-bar clearfix"
                         style="min-height: 10px">
                        <a ng-click="WidgetSections.showItems(item.id);">
                            <div class="plugin-slide text-center">
                                <img ng-if="item.data.mainImage" load-image="16x9"
                                     data-final-src="{{item.data.mainImage | cropImage : WidgetSections.deviceWidth:192}}">
                                <img ng-if="!item.data.mainImage" src="assets/.images/16x9.png">
                            </div>
                            <div class="info-bar blackBackgroundTheme">
                                <div class="col-xs-12 text-left pull-left">
                                    <p class="margin-bottom-zero ellipsis whiteTheme"><span
                                            class="whiteTheme"
                                            >{{item.data.secTitle}}</span>
                                    </p>

                                    <p class="margin-bottom-zero ellipsis whiteTheme">
                                        {{item.data.secSummary}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-hide="WidgetSections.showSections">
                <div ng-if="WidgetSections.placesInfo.data.design.itemListLayout"
                     ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.itemListLayout+ '.html'">
                </div>
            </div>
        </div>
    </div>
</div>

