<div class="holder  has-bottom  padding-zero text-overlay">
    <div class="places-plugin layout3">
        <div ng-if="WidgetSections.removeShowSectionsArea != true" ng-show="WidgetSections.showSections" class="media-center-banner clearfix ">
            <div class="plugin-slide text-center">
                <div ng-style="WidgetHome.data.content.images.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}" id="carousel" build-fire-carousel=""></div>
            </div>
        </div>
        <div ng-show="WidgetSections.showSections" id="description" class="padded text-left padding-bottom-zero clearfix" ng-if="WidgetSections.showDescription()">
            <p ng-bind-html="WidgetSections.placesInfo.data.content.descriptionHTML | safeHtml"></p>
        </div>
        <div class="">
            <div class="list-layout">
                <div ng-show="WidgetSections.showSections">
                    <div infinite-scroll-distance="1"
                         data-infinite-container=".infinite-scroll-parent"
                         infinite-scroll-disabled="WidgetSections.noMoreSections"
                         infinite-scroll="WidgetSections.loadMoreSections()">
                        <div class="list-item" ng-if="WidgetSections.placesInfo.data.content.showAllItems">
                            <a ng-click="WidgetSections.showItems('allitems');">
                                <div class="list-item-media text-left overflow-hidden">
                                    <div ng-if="WidgetSections.placesInfo.data.content.allItemImage"
                                         class="list-media-holder pull-left">
                                        <img ng-if="WidgetSections.placesInfo.data.content.allItemImage" load-image="239x100" data-final-src="{{WidgetSections.placesInfo.data.content.allItemImage | cropImage :110 :60}}" style="width: 110px;height: 60px;">
                                    </div>
                                    <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                        <p class="ellipsis margin-zero text-primary margin-top-five"><span
                                                class="text-primary">All Items</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="list-item" ng-repeat="item in WidgetSections.sections | unique: 'id'">
                            <a ng-click="WidgetSections.showItems(item.id);">
                                <div class="list-item-media text-left overflow-hidden">
                                    <div ng-if="item.data.mainImage" class="list-media-holder pull-left">
                                        <img load-image="239x100" data-final-src="{{item.data.mainImage | cropImage :110 :60}}" style="width: 110px;height: 60px;">>
                                    </div>
                                    <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                        <p class="ellipsis margin-zero text-primary margin-top-five"><span
                                                class="text-primary">{{item.data.secTitle}}</span>
                                        </p>

                                        <p class="ellipsis margin-zero color-dark-grey">
                                            {{item.data.secSummary}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-hide="WidgetSections.showSections">
                    <div ng-if="WidgetSections.placesInfo.data.design.itemListLayout"
                         ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.itemListLayout+ '.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>