<div class="holder padding-zero text-overlay">
    <div id="scroll-infinite" class="places-plugin layout3">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div class="plugin-slide text-center">
                <div id="carousel" build-fire-carousel=""></div>
            </div>
        </div>
        <div class="text-left padding-bottom-zero clearfix" ng-if="WidgetSections.showDescription()">
            <p ng-bind-html="WidgetSections.placesInfo.data.content.descriptionHTML | safeHtml"></p>
        </div>
        <div class="">
            <div class="list-layout">
                <div ng-show="WidgetSections.showSections">
                    <div infinite-scroll-distance="0"
                         infinite-scroll="WidgetSections.loadMoreSections()"

                         infinite-scroll-container="'#scroll-infinite'">
                        <div class="list-item" ng-if="WidgetSections.placesInfo.data.content.showAllItems">
                            <a href="#/items/allitems">
                                <div class="list-item-media text-left overflow-hidden">
                                    <div ng-if="WidgetSections.placesInfo.data.content.allItemImage"
                                         class="list-media-holder pull-left">
                                        <img default-image
                                             ng-src="{{WidgetSections.placesInfo.data.content.allItemImage | cropImage :110 :60}}">
                                    </div>
                                    <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                        <p class="ellipsis margin-zero text-primary margin-top-five"><span
                                                class="text-primary">All Items</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="list-item" ng-repeat="item in WidgetSections.sections">
                            <a ng-href="#/items/{{item.id}}">
                                <div class="list-item-media text-left overflow-hidden">
                                    <div ng-if="item.data.mainImage" class="list-media-holder pull-left">
                                        <img default-image ng-src="{{item.data.mainImage | cropImage :110 :60}}">
                                    </div>
                                    <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                        <p class="ellipsis margin-zero text-primary margin-top-five"><span
                                                class="text-primary">{{item.data.secTitle}}</span>
                                        </p>

                                        <p class="ellipsis margin-zero" style="color:#5f5f5f">
                                            {{item.data.secSummary}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-hide="WidgetSections.showSections">
                    <div class="no-items-msg margin-fifteen" ng-hide="WidgetSections.locationData.items.length">
                        No item(s) to show
                    </div>
                    <div infinite-scroll-distance="0"
                         infinite-scroll="WidgetSections.loadMoreItems()"
                         infinite-scroll-container="'#scroll-infinite'">
                        <div class="plugin-banner has-info-bar clearfix"
                             ng-repeat="item in WidgetSections.locationData.items | orderBy: WidgetSections.itemsOrder | filter:WidgetSections.sortFilter">
                            <div class="plugin-slide text-center">
                                <img ng-if="item.data.listImage" ng-src="{{item.data.listImage | resizeImage:342:274}}">
                                <img ng-if="!item.data.listImage" src="assets/images/placeholder.png">
                            </div>
                            <div class="info-bar titleBarBackgroundTheme">
                                <div class="col-xs-8 text-left pull-left">
                                    <p class="margin-bottom-zero ellipsis titleBarTextAndIcons">
                                        <a ng-if="item.data.sections.length" ng-href="#/item/{{item.data.sections[0]}}/{{item.id}}">{{item.data.itemTitle}}</a>
                                        <a ng-if="item.data.sections.length == 0" ng-href="#/item/allitems/{{item.id}}">{{item.data.itemTitle}}</a>
                                    </p>
                                    <p class="margin-bottom-zero ellipsis titleBarTextAndIcons">{{item.data.summary}}</p>
                                </div>
                                <div class="col-xs-4 text-right pull-right padding-left-zero">
                                    <span class="icon icon-map-marker icon-sm titleBarTextAndIcons"></span>
                                    <span class="miles titleBarTextAndIcons">{{item.data.distanceText}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'templates/layouts/bottom-menu.html'"></div>
    </div>
</div>