<div class="holder padding-zero has-bottom text-overlay">
    <div class="places-plugin">
        <div ng-show="WidgetSections.showSections" class="plugin-banner clearfix ">
            <div class="plugin-slide text-center">
                <div id="carousel" build-fire-carousel=""></div>
            </div>
        </div>
        <div ng-show="WidgetSections.showSections" class="padded text-left" ng-if="WidgetSections.showDescription()" id="description">
            <p class="margin-bottom-zero"
               ng-bind-html="WidgetSections.placesInfo.data.content.descriptionHTML | safeHtml">
            </p>
        </div>
        <div ng-show="WidgetSections.showSections">
            <div infinite-scroll="WidgetSections.loadMoreSections()"
                 infinite-scroll-distance="1"
                 data-infinite-container=".infinite-scroll-parent"
                 infinite-scroll-disabled="WidgetSections.noMoreSections">
                <div ng-if="WidgetSections.placesInfo.data.content.showAllItems">
                    <a  ng-click="WidgetSections.showSections = false;$('#allItemsOption').click()">
                        <div class="plugin-banner clearfix border-bottom-grey">
                            <div class="plugin-slide text-center"
                                 ng-if="WidgetSections.placesInfo.data.content.allItemImage">
                                <img ng-src="{{WidgetSections.placesInfo.data.content.allItemImage | cropImage:WidgetSections.deviceWidth:192}}">
                            </div>
                        </div>
                        <div class="padded text-left">
                            <span class="text-primary ">All Items</span>
                        </div>
                    </a>
                </div>
                <div ng-repeat="item in WidgetSections.sections | unique: 'id'">
                    <a ng-click="WidgetSections.selectedSections = [item.id];WidgetSections.showSections = false;">
                        <div class="plugin-banner clearfix border-bottom-grey">
                            <div class="plugin-slide text-center" ng-if="item.data.mainImage">
                                <img ng-src="{{item.data.mainImage | cropImage:WidgetSections.deviceWidth:192}}">
                            </div>
                        </div>
                        <div class="padded text-left">
                            <span class="text-primary">{{item.data.secTitle}}</span>

                            <p class="margin-zero color-dark-grey">{{item.data.secSummary}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div ng-hide="WidgetSections.showSections">
            <div ng-if="WidgetSections.placesInfo.data.design.itemListLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.itemListLayout+ '.html'">
            </div>
            <!--<div infinite-scroll-distance="1"
                 data-infinite-container=".infinite-scroll-parent"
                 infinite-scroll-disabled="WidgetSections.noMoreItems"
                 infinite-scroll="WidgetSections.loadMoreItems()">
                <div class="no-items-msg margin-left-fifteen margin-right-fifteen"
                     ng-hide="WidgetSections.locationData.items.length">
                    No item(s) to show
                </div>
                <div class="plugin-banner has-info-bar clearfix"
                     ng-repeat="item in WidgetSections.locationData.items | orderBy: WidgetSections.itemsOrder | filter:WidgetSections.sortFilter">
                    <div class="plugin-slide text-center">
                        <img ng-if="item.data.listImage" ng-src="{{item.data.listImage | cropImage:WidgetSections.deviceWidth:192}}">
                        <img ng-if="!item.data.listImage" src="assets/images/16x9.png">
                    </div>
                    <div class="info-bar blackBackgroundTheme">
                        <div class="col-xs-8 text-left pull-left">
                            <p class="margin-bottom-zero ellipsis whiteTheme">
                                <a class="whiteTheme" ng-if="item.data.sections.length"
                                   ng-href="#/item/{{item.data.sections[0]}}/{{item.id}}">{{item.data.itemTitle}}</a>
                                <a class="whiteTheme" ng-if="item.data.sections.length == 0"
                                   ng-href="#/item/allitems/{{item.id}}">{{item.data.itemTitle}}</a>
                            </p>

                            <p class="margin-bottom-zero ellipsis whiteTheme">{{item.data.summary}}</p>
                        </div>
                        <div class="col-xs-4 text-right pull-right padding-left-zero">
                            <span class="icon icon-map-marker icon-sm whiteTheme"></span>
                            <span class="miles whiteTheme">{{item.data.distanceText}}</span>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!--<div ng-include="'templates/layouts/bottom-menu.html'"></div>-->
    </div>
</div>