<div class="holder padding-zero has-bottom">
    <div id="scroll-infinite" class="places-plugin">
        <div class="plugin-banner clearfix border-bottom-grey">
            <div class="plugin-slide text-center">
                <div id="carousel" build-fire-carousel=""></div>
            </div>
        </div>
        <div class="padded text-left">
            <p class="margin-bottom-zero" ng-if="WidgetSections.placesInfo.data.content.descriptionHTML"
               ng-bind-html="WidgetSections.placesInfo.data.content.descriptionHTML | safeHtml">
                {{WidgetSections.placesInfo.data.content.descriptionHTML}}</p>
        </div>
        <div ng-show="WidgetSections.showSections">
            <div infinite-scroll-distance="0"
                 infinite-scroll="WidgetSections.loadMoreSections()"

                 infinite-scroll-container="'#scroll-infinite'">
                <div ng-repeat="item in WidgetSections.sections">
                    <div class="plugin-banner clearfix border-bottom-grey">
                        <div class="plugin-slide text-center">
                            <img default-image ng-src="{{item.data.mainImage}}">
                        </div>
                    </div>
                    <div class="padded text-left">
                        <a class="text-primary" ng-href="#/items/{{item.id}}">{{item.data.secTitle}}</a>

                        <p class="margin-zero">{{item.data.secSummary}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="WidgetSections.showSections">
            <div infinite-scroll-distance="0"
                 infinite-scroll="WidgetSections.loadMoreItems()"

                 infinite-scroll-container="'#scroll-infinite'">
            <div  class="no-items-msg margin-left-fifteen margin-right-fifteen" ng-hide="WidgetSections.locationData.items.length">
                No item(s) to show
            </div>
            <div class="plugin-banner has-info-bar clearfix"
                 ng-repeat="item in WidgetSections.locationData.items | orderBy: WidgetSections.itemsOrder | filter:WidgetSections.sortFilter">
                <div class="plugin-slide text-center">
                    <img default-image="" ng-src="{{item.data.listImage}}">
                </div>
                <div class="info-bar">
                    <div class="col-xs-8 text-left pull-left">
                        <p class="margin-bottom-zero ellipsis"><a
                                ng-href="#/item/{{item.id}}">{{item.data.itemTitle}}</a>
                        </p>

                        <p class="margin-bottom-zero ellipsis">{{item.data.summary}}</p>
                    </div>
                    <div class="col-xs-4 text-right pull-right padding-left-zero">
                        <span class="icon icon-map-marker icon-sm" style="color:#fff;"></span>
                        <span class="miles">{{item.data.distanceText}}</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div ng-include="'templates/layouts/bottom-menu.html'"></div>
    </div>
</div>
