<div class="holder padding-zero has-bottom">
	<div class="places-plugin">
		<div class="plugin-banner clearfix border-bottom-grey">
			<div class="plugin-slider text-center">
				<div class="plugin-slide">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
				<div class="plugin-slide">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
				<div class="plugin-slide">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
			</div>
		</div>
		<div class="padded text-left">
			<p class="margin-bottom-zero">WYSIWYG Editor.</p>
		</div>
		<div ng-repeat="item in WidgetSections.sections">
		<div class="plugin-banner clearfix border-bottom-grey">
			<div class="plugin-slide text-center">
				<img ng-src="{{item.data.mainImage}}">
			</div>
		</div>
		<div class="padded text-left">
			<a class="text-primary">{{item.data.secTitle}}</a>
			<p class="margin-zero">{{item.data.secSummary}}</p>
		</div>
		</div>
		<div class="bottom fixed-bottom clearfix transition-third" style="background:#09a3ee;">
			<div class="col-xs-12 pull-left text-center transition-third">
				<a style="color:#fff;">Filter</a>
			</div>
			<div class="col-xs-12 pull-left hidden-content">
				<div class="tabs clearfix">
					<div class="tab tab-category col-xs-6 padding-zero text-center border-bottom-grey active">
						<a>Category</a>
					</div>
					<div class="tab tab-sorting col-xs-6 border-left-grey padding-zero border-bottom-grey text-center">
						<a>Sorting</a>
					</div>
				</div>
				<div class="tab-content clearfix">
					<div class="category-tab tab active"
						 infinite-scroll-distance="0"
						 infinite-scroll="WidgetSections.loadMore()"
						 infinite-scroll-container='"#scroll-infinite"'
						 infinit-scroll-disabled="WidgetSections.noMore"
							>
						<a ng-repeat="item in WidgetSections.sections" class="list-item">{{item.data.secTitle}}</a>

					</div>
					<div class="sorting-tab tab padded">
						<div class="distance">
							<p class="text-primary">Distance</p>
							<p>50 to 200 miles</p>
							<span>range slider placeholder</span>
						</div>
						<div class="sort-items margin-top-twenty">
							<p class="text-primary">Sort Items</p>
							<div class="toggle-btns border-radius-four overflow-hidden">
								<div class="col-xs-6 padding-zero text-center primaryBackgroundTheme" style="background:#09a3ee;">
									<a class="active">Default</a>
								</div>
								<div class="col-xs-6 padding-zero text-center">
									<a>Closest to Me</a>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
