<div class="overlay background"
     ng-if="WidgetSections.placesInfo.data.design.secListBGImage && WidgetSections.deviceWidth != 0 && WidgetSections.deviceHeight != 0">
    <img ng-src="{{WidgetSections.placesInfo.data.design.secListBGImage |cropImage : WidgetSections.deviceWidth : WidgetSections.deviceHeight}}">
</div>
<div>
    <div ng-switch="WidgetSections.currentView">
        <div ng-switch-when="list">
            <div ng-if="WidgetSections.placesInfo.data.design.secListLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.secListLayout+ '.html'">
            </div>
        </div>
        <div ng-switch-when="map">
            <div ng-if="WidgetSections.placesInfo.data.design.mapLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.mapLayout+ '.html'">
            </div>
        </div>
    </div>
</div>