<div>
    <div ng-switch="WidgetSections.info.data.settings.defaultView">
        <div ng-switch-when="list">
            <div ng-if="WidgetSections.info.data.design.secListLayout"
                 ng-include="'templates/layouts/' + WidgetSections.info.data.design.secListLayout+ '.html'">
            </div>
        </div>
        <div ng-switch-when="map">
            <div ng-if="WidgetSections.info.data.design.mapLayout"
                 ng-include="'templates/layouts/' + WidgetSections.info.data.design.mapLayout+ '.html'">
            </div>
        </div>
    </div>
</div>

