<div class="overlay background"
     ng-if="WidgetItem.item.data.backgroundImage && WidgetItem.deviceWidth != 0 && WidgetItem.deviceHeight != 0">
    <img ng-src="{{WidgetItem.item.data.backgroundImage |cropImage : WidgetItem.deviceWidth : WidgetItem.deviceHeight}}">
</div>
<div class="scrollable transit">
    <div ng-switch="WidgetSections.currentView">
        <div ng-switch-when="list">
            <div ng-if="WidgetSections.placesInfo.data.design.secListLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.secListLayout+ '.html'">
            </div>
        </div>
        <div ng-switch-when="map">
            <div ng-if="WidgetSections.placesInfo.data.design.mapLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.mapLayout+ '.html'">
            </div>
        </div>
    </div>
</div>
<div class="holder padding-zero">
    <div ng-include="'templates/layouts/bottom-menu.html'"></div>
</div>
