<div class="overlay background"
     ng-if="WidgetSections.sectionInfo.data.itemListBGImage && WidgetSections.deviceWidth != 0 && WidgetSections.deviceHeight != 0">
    <img ng-src="{{WidgetSections.sectionInfo.data.itemListBGImage|cropImage : WidgetSections.deviceWidth : WidgetSections.deviceHeight}}">
</div>
<div class="scrollable">
    <div ng-switch="WidgetSections.currentView">
        <div ng-switch-when="list">
            <div ng-if="WidgetSections.placesInfo.data.design.itemListLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.itemListLayout+ '.html'">
            </div>
        </div>
        <div ng-switch-when="map">
            <div ng-if="WidgetSections.placesInfo.data.design.mapLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.mapLayout+ '.html'">
            </div>
        </div>
    </div>
</div>
<div class="holder padding-zero">
    <div ng-include="'templates/layouts/bottom-menu.html'"></div>
</div>