<div class="height-hundred-pc" back-img="{{WidgetSections.secListBGImage}}" ng-controller="WidgetSectionsItemsCtrl as WidgetSections">
<div class="scrollable">
    <div ng-switch="WidgetSections.currentView">
        <div ng-switch-when="list">
            <div ng-if="WidgetSections.placesInfo.data.design.secListLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.secListLayout+ '.html'">
            </div>
        </div>
        <div ng-switch-when="map">
            <div ng-if="WidgetSections.placesInfo.data.design.mapLayout"
                 ng-include="'templates/layouts/' + WidgetSections.placesInfo.data.design.mapLayout+ '.html'">
            </div>
        </div>
    </div>
</div>
<div ng-if="WidgetSections.showBtmMenu" class="holder padding-zero">
    <div ng-include="'templates/layouts/bottom-menu.html'"></div>
</div>
</div>