<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Default View</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="radio radio-primary radio-inline">
            <input id="listview" type="radio" name="defaultview" checked="">
            <label for="listview">List</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input id="mapview" type="radio" name="defaultview">
            <label for="mapview">Map</label>
        </div>
    </div>
</div>