<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Default View</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="radio radio-primary radio-inline">
            <input id="listview" type="radio" name="defaultview" ng-model="SettingsHome.placeInfo.data.settings.defaultView" value="list">
            <label for="listview">List</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input id="mapview" type="radio" name="defaultview" ng-model="SettingsHome.placeInfo.data.settings.defaultView" value="map">
            <label for="mapview">Map</label>
        </div>
    </div>
</div>
<hr class="none">
<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Show Distance In</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="radio radio-primary radio-inline">
            <input id="miles" type="radio" name="distance" ng-model="SettingsHome.placeInfo.data.settings.showDistanceIn" value="mi">
            <label for="miles">Miles</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input id="km" type="radio" name="distance" ng-model="SettingsHome.placeInfo.data.settings.showDistanceIn" value="km">
            <label for="km">Kilometers</label>
        </div>
    </div>
</div>