<div class="header clearfix border-bottom-grey">
    <h4 class="margin-zero">Deep link</h4>
    <span class="icon icon-cross2 close-modal" ng-click="DeepLinkPopup.close()"></span>
</div>
<div class="padded clearfix">

    <input autofocus="" type="text" class="form-control ng-pristine ng-untouched ng-valid"
           ng-model="DeepLinkPopup.deepLinkUrl" onfocus="$(this).select()"/>
</div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-primary default-background-hover transition-third"
           ng-click="DeepLinkPopup.close()">Close</a>
    </div>
</div>
