<div class="header clearfix border-bottom-grey">
    <h4 class="margin-zero">Choose Sections</h4>
    <span class="icon icon-cross2 close-modal" onclick="EditSectionPopup.cancel()"></span>
</div>
<div class="padded clearfix">
    <div class="d-item double-line square-icon clearfix" ng-repeat="section in sections">
            <input type="checkbox" ng-model="section.data.selected"/>
            <span class="padding-left-fifteen">{{section.data.secTitle}}</span>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-primary default-background-hover transition-third"
           ng-click="cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-success default-background-hover transition-third" ng-click="ok()">Save</a>
    </div>
</div>
